.card-body * {
   font-family: 'nyt-imperial', serif;
}

.movies-container {
   margin-top: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.movie-card {
   width: 212px;
   margin: 1rem;
   border: 1px solid #000;
   transition: all 0.2s ease-in-out;
}

.movie-card:hover {
   box-shadow: 0 0 3px 3px var(--cornflower);
   cursor: pointer;
}

.movie-card:active {
   box-shadow: 0 0 6px 6px var(--cornflower);
}

.movie-header {
   text-align: right;
}

.movie-header small {
   font-family: 'nyt-franklin', sans-serif;
}

.details-card {
   width: 75%;
   margin-top: 2rem;
   border: 1px solid #000;
   box-shadow: 0 0 3px 3px #000;
}

.details-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.details-header h1 {
   font-size: 4rem;
   margin: 0;
}

.details-header p {
   font-family: 'nyt-franklin', sans-serif;
   font-size: 1.2rem;
   margin: 0;
}

.details-body .card-title {
   font-size: 2rem;
}

.details-body .card-subtitle {
   font-size: 1.2rem;
}

.details-body p {
   font-size: 1.4rem;
   margin-top: 4rem;
}

.details-footer a {
   font-family: 'Inconsalata', sans-serif;
}
