.movies-container {
   margin-top: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card {
   width: 16rem;
   margin: 1rem;
}

.card-body * {
   font-family: 'nyt-imperial', serif;
}

.card-header {
   text-align: right;
}

small {
   font-family: 'nyt-franklin', sans-serif;
}
