.card-body * {
   font-family: 'nyt-imperial', serif;
}

.movies-page {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pagination {
   font-family: 'nyt-franklin', sans-serif;
   margin: 1rem 0;
}

.page-link {
   color: #fff;
   background-color: var(--dark);
   border-color: #000;
}

.page-link:hover,
.page-item.active .page-link,
.page-item.disabled .page-link {
   color: var(--dark-grey);
}

.page-item.active .page-link {
   background-color: var(--cornflower);
   border-color: var(--cornflower);
}

.page-item.disabled .page-link {
   background-color: var(--disabled);
   border-color: #000;
}

.movies-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.movie-card {
   width: 212px;
   margin: 1rem;
   border-color: #000;
   transition: all 0.2s ease-in-out;
}

.movie-card:hover {
   box-shadow: 0 0 3px 3px var(--cornflower);
   cursor: pointer;
}

@keyframes pop {
   from {
      box-shadow: 0 0 3px 3px var(--cornflower);
   }

   50% {
      box-shadow: 0 0 6px 6px var(--primary);
   }

   to {
      box-shadow: none;
   }
}

.movie-card:active {
   box-shadow: none;
   animation: pop 0.75s infinite;
}

.movie-header {
   text-align: right;
}

.movie-header small {
   font-family: 'nyt-franklin', sans-serif;
}

.modal-content {
   background-color: var(--dark);
   color: #fff;
   border-color: #000;
   padding: 2rem 3rem;
   box-shadow: 0 0 12px 12px #000;
}

.modal-title {
   font-family: 'nyt-cheltenham', serif;
   font-size: 2.4rem;
}

.modal-body {
   font-family: 'nyt-imperial', serif;
   font-size: 1.6rem;
}

.modal-footer .btn-primary {
   font-size: 1.2rem;
}

.movie-details {
   width: 75%;
   margin-top: 2rem;
   border-radius: 6px;
   box-shadow: 0 0 6px 6px #000;
}

.details-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.details-header h1 {
   font-size: 2.4rem;
   margin: 0;
}

.details-subheader {
   flex: none;
}

.details-subheader p {
   font-family: 'nyt-franklin', sans-serif;
   margin: 0;
   text-align: right;
}

.details-body .card-title {
   font-size: 1.6rem;
}

.details-body .card-subtitle {
   font-size: 1.2rem;
}

.details-body p {
   font-size: 1.2rem;
   margin-top: 4rem;
}

.details-footer a {
   font-family: 'nyt-franklin', sans-serif;
}
