header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   font-family: 'nyt-cheltenham', serif;
   margin-top: 4rem;
   margin-bottom: 2rem;
}

input,
button {
   font-family: 'nyt-franklin', sans-serif;
}
