:root {
   --cornflower: #89c2ff;
}

h1 {
   font-family: 'nyt-cheltenham', serif;
}

main {
   margin-bottom: 4rem;
   display: flex;
   justify-content: center;
}

a {
   color: #fff;
}

a:hover {
   color: var(--cornflower);
}

a:active {
   text-shadow: 0 0 1px var(--cornflower);
}
