h1 {
   font-family: 'nyt-cheltenham', serif;
}

main {
   margin-bottom: 4rem;
   display: flex;
   justify-content: center;
}

a {
   color: #fff;
}

a:hover {
   color: var(--cornflower);
}

a:active {
   text-shadow: 0 0 1px var(--cornflower);
}

input,
button {
   font-family: 'nyt-franklin', sans-serif;
}

.btn-primary {
   color: var(--dark-grey);
   background-color: var(--cornflower);
   border-color: var(--cornflower);
}

.btn-primary:disabled {
   background-color: var(--disabled);
   border-color: var(--disabled);
}
