:root {
   --accent: #89c2ff;
}

h1 {
   font-family: 'nyt-cheltenham', serif;
}

main {
   margin-bottom: 4rem;
   display: flex;
   justify-content: center;
}

a {
   color: #fff;
}

a:hover {
   color: var(--accent);
   text-decoration: none;
}
