/* TODO Firefox does not like loading NYT Cheltenham and NYT Franklin */
@font-face {
   font-family: 'nyt-cheltenham';
   src: url('https://g1.nyt.com/fonts/family/cheltenham/cheltenham-normal-500.a22ae3ed1e775ce90ced16f1822f4ddc.woff2')
         format('woff2'),
      url('https://g1.nyt.com/fonts/family/cheltenham/cheltenham-normal-500.229eebd8069abe2c2253b203c9179e25.woff')
         format('woff'),
      url('https://g1.nyt.com/fonts/family/cheltenham/cheltenham-normal-500.fe8ceaea50c19a1dfffe1bbfa15e283e.ttf')
         format('truetype');
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'nyt-franklin';
   src: url('https://g1.nyt.com/fonts/family/franklin/franklin-normal-500.d6c06a3d84a57100edad5bf9b84ff739.woff2')
         format('woff2'),
      url('https://g1.nyt.com/fonts/family/franklin/franklin-normal-500.414758de098dc644b688afa031d35f9b.woff')
         format('woff'),
      url('https://g1.nyt.com/fonts/family/franklin/franklin-normal-500.1b6dc8a3d86d2a28b825482c9497a633.ttf')
         format('truetype');
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'nyt-imperial';
   src: url('https://g1.nyt.com/fonts/family/imperial/imperial-normal-400.2531995fefd3b997f9c4d564ebe89268.woff2')
         format('woff2'),
      url('https://g1.nyt.com/fonts/family/imperial/imperial-normal-400.e4d8bd522cfcbc36c1b2368baeb54c32.woff')
         format('woff'),
      url('https://g1.nyt.com/fonts/family/imperial/imperial-normal-400.a5270edf37ca346207a3a6ff637a022a.ttf')
         format('truetype');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'nyt-imperial';
   src: url('https://g1.nyt.com/fonts/family/imperial/imperial-normal-500.40c94ccc25e2212b8946a7d732251d86.woff2')
         format('woff2'),
      url('https://g1.nyt.com/fonts/family/imperial/imperial-normal-500.587f29a3d9c4159f8b8bceb6f31a59ff.woff')
         format('woff'),
      url('https://g1.nyt.com/fonts/family/imperial/imperial-normal-500.22fa3f7bdef0c76b5a58cb6c89f82bbb.ttf')
         format('truetype');
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}
