body {
   background-color: #282c34;
   color: white;

   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a {
   color: #61dafb;
}

.movies-container {
   margin-top: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card {
   width: 16rem;
   height: 8rem;
   margin: 1rem;
}

.card-body * {
   color: black;
}
