:root {
   --cornflower: #89c2ff;
   --dark-grey: #212529;
}

body {
   background-color: #282c34;
   color: #fff;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: 'Inconsolata', source-code-pro, Menlo, Monaco, Consolas,
      'Courier New', monospace;
}
